.container{
    margin: auto!important;
}
h2{
    text-align: center;
}
.labelupload {
    display: block;
    margin-bottom: 5px;
}
.title {
    background-color: #52C6C6;
    height: 70px;
    margin-top: 15px;
    padding-top: 15px;
}
.col-6{
    background-color: #F0F0F0;
    border: 1px solid black;
    padding: 20px;
}
.col-6 div{
    background-color: #FFF;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
}
#imageInput{
    margin-right: 30px;
}
button{
    padding: 5px 20px;
    border: none;
    border-radius: 5px!important;
    background-color: #C4C4C4;
}
button:hover{
    background-color: #b3b3b3;
}
img{
    max-height: 48vw;
    max-width: 100%;
    width: auto;
    height: auto;
    min-height: 400px;
    min-width: 400px;
}
#data{
    height: 90%;
}
#image-container{
    position: relative;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    height: auto;
}
#boudiry{
    position: absolute;
    border: 2px solid red;
    height: 50px;
    width: 50px;
    top: 10px;
    left: 50px;
    background-color: transparent;
    display: none;

}
