<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS REKOGNITION</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="main-content">
            <h3>AWS REKOGNITION</h3>
            <div class="main-content-container">
                <div class="left">
                    <div class="upload">
                        <span>Upload hình ảnh: </span>
                        <input type="file" id="image_input" accept="image/png, image/jpg, image/jpeg">
                    </div>
                    <div class="desc">
                        <span>Mô tả: </span>
                        <textarea name="" id="" cols="30" rows="10" placeholder="abc..."></textarea>
                    </div>
                </div>
                <div class="right">
                    <span>Kết quả hiện thị: </span>
                    <div id="display_image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>